* {
	margin: 0;
	padding: 0;
}
header {
	height: 4rem;
	font-size: 18px;
	background-color: #333333;
	color: #ffffff;
	line-height: 64px;
	z-index: 5;
}
.s_down {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #ffffff;
	color: #333333;
	box-shadow: 0px 0px 6px 0px #33333330;
}
.s_down a {
	color: #333333 !important;
}
header .logo {
	text-align: center;
}
header ul,
header li {
	line-height: 48px;
	padding: 0px;
	list-style: none;
	text-transform: uppercase;
}
header .menu {
	display: none;
	text-align: center;
	float: right;
	margin-top: 20px;
	margin-right: 10px;
	padding: 20px;
	background-color: #ffffff;
	box-shadow: 0px 0px 6px 0px #33333330;
}
header .menu a {
	line-height: 48px;
	text-decoration: none;
	color: #ffffff;
	border-bottom: 1px #333333 solid;
}
footer {
	height: 32px;
	line-height: 32px;
	text-align: center;
	background-color: #333333;
	color: #ffffff;
}
