@keyframes photo {
	0% {
		margin-left: 0vh;
	}
	10% {
		margin-left: -50vh;
	}
	33% {
		margin-left: -50vh;
	}
	40% {
		margin-left: -100vh;
	}
	66% {
		margin-left: -100vh;
	}
	70% {
		margin-left: -150vh;
	}
	99% {
		margin-left: -150vh;
	}
	100% {
		margin-left: 0vh;
	}
}
body {
	background-color: #333333 !important;
}
#Home {
	height: calc(100vh - 4rem);
	top: 0;
	padding-top: 24vh;
	background-color: #333333;
}
.love {
	font: inherit;
	font-weight: inherit;
	font-size: inherit;
	text-align: center;
	font-family: "微软雅黑", Helvetica, Arial, sans-serif;
	color: #ffffff;
	font-size: 64px;
	font-weight: 100;
}
.timing {
	color: #ffffff;
	text-align: right;
	margin: 0 auto;
	margin-top: 18vh;
	font-family: "微软雅黑";
	font-size: 24px;
	font-weight: 300;
	padding: 20px;
}
.timing p:first-child {
	text-align: left;
	font-size: 24px;
}
.timing span {
	font-size: 64px;
}
#Letter {
	z-index: 1;
	height: 100vh;
	background-color: #ddf0ed;
	margin-bottom: 4rem;
}
#Letter h2 {
	line-height: 64px;
	text-align: center;
	color: #ffffff;
	background-color: #333333;
}
.letter {
	color: #333333;
	background-color: #ddf0ed;
	padding: 20px;
}
#Letter-box {
	color: black;
}
#Story {
	z-index: 1;
	height: 100vh;
	background-color: #ffffff;
}
#Story h2 {
	line-height: 64px;
	text-align: center;
	color: #ffffff;
	margin-top: 4rem;
	background-color: #333333;
}
#Photo {
	z-index: 1;
	height: 100vh;
	background-color: #ffffff;
}
#Photo h2 {
	line-height: 64px;
	text-align: center;
	color: #ffffff;
	background-color: #333333;
}
.photos {
	width: 50vh;
	/* overflow: hidden; */
	animation: photo 10s linear 1s infinite alternate;
}
.photos ul {
	width: 400%;
	margin-left: 0px;
}
.photos ul li {
	list-style: none;
	float: left;
	width: 100%;
	height: 20vh;
	background-image: url("../src/01.jpg");
	background-size: cover;
}
.photos img {
	width: 50vh;
	height: auto;
	display: initial;
}
